@import '../../sass/variables';

.directory-menu {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-template-rows: 40rem;
    row-gap: 8rem;
    column-gap: 8rem;
    flex-direction: column;
    margin-left: 8rem;
    margin-right: 8rem;
    padding-top: 5rem;

    @media only screen and (max-width: $bp-medium) {
        margin-left: 2rem;
        margin-right: 2rem;
        padding-top: 3rem;
     }
}