@import '../../sass/variables';

.header {
    background-color: var(--color-elements);
    box-shadow: $light-shadow;
    padding: 2rem 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media only screen and (max-width: $bp-medium) {
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 3rem;
     }

     @media only screen and (max-width: $bp-small) {
        font-size: 70%;
     }

    &__change-mode {
        cursor: pointer;

        &__icon {
            padding-right: 0.5rem;
            vertical-align: middle;
            font-size: 150%;
        }
    }
}