@import '../../sass/variables';

.menu-item {
    background-color: $white;
    height: 400px;
    width: auto;
    box-shadow: $light-shadow;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.background-image {
    height: 200px;
    width: 100%;
    background-position: center;
    background-size: cover;
}

.content {
    display: flex;
    flex-direction: column;
    padding-left: 3rem;
}

.country-name {
    padding: 2rem 0;
}

.info {
    padding: 0.5rem 0;
}

.info > span {
    font-weight: $font-weight-strong;
    margin-right: 0.5rem;
}

.code {
    display: none;
}